.top {
    background-image: url('/src/images/bg/top.jpg');
    .content {
        width: 100%;
        max-width: 120rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: wrap;
        padding: 0 1.5rem;
        margin: 0 auto;
    }
    &_text {
        width: 100%;
        max-width: 50rem;
        text-align: center;
        padding: 0 1rem;
        position: relative;
        margin: 10rem 0;
        h1 {
            color: $white;
            font-size: 4.7rem;
            font-weight: 300;
            margin-bottom: 5.5rem;
            strong {
                font-weight: 700;
            }
        }
        p {
            color: $white;
            font-size: 1.8rem;
            margin-bottom: 8rem;
            letter-spacing: .1rem;
        }
        .btn {
            width: 100%;
            max-width: 24rem;
            display: block;
            margin: 0 auto;
            padding: 20px;
            font-size: 2rem;
            font-weight: 300;
            color: $white;
            cursor: pointer;
            background-color: transparent;
            border: .2rem solid $white;
            transition: all .2s ease;
            &:hover {
                background-color: $white;
                color: $black;
            }
        }
    }
    &_img {
        width: 100%;
        max-width: 50rem;
        padding: 0 1rem;
        margin-top: 4rem;
        text-align: center;
        img {
            max-width: 39.5rem;
        }
    }
}

.block {
    width: 100%;
    position: relative;
    &_download {
        background: url('/src/images/bg/download.jpg');
        background-size: cover;
        padding: 20rem 0;
        color: $white;
        text-align: center;
        margin: 0 auto;
        margin-top: -22.5rem;
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
        &_text {
            margin-bottom: 8rem;
        }
        &_content {
            width: 100%;
            margin: 0 auto;
            flex-flow: wrap;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5rem;
            &_button {
                width: 100%;
                max-width: 38rem;
                margin: 0 5rem;
                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    padding: 2.5rem;
                    font-size: 3rem;
                    font-weight: 300;
                    color: $white;
                    cursor: pointer;
                    background-color: transparent;
                    border: 2px solid $white;
                    margin-bottom: 5rem;
                    transition: all .2s ease;
                    &:hover {
                        color: $blue;
                        background-color: $white;
                    }
                    i {
                        margin-right: 3rem;
                        &.icon {
                            font-size: 3.8rem;
                        }
                    }
                }
            }
        }
    }
    &_features {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        &_list {
            width: 100%;
            max-width: 60rem;
            &_items {
                display: flex;
                flex-flow: wrap;
            }
            &_item {
                width: 100%;
                max-width: 25rem;
                margin: 0 auto;
                margin-bottom: 5rem;
                .icon {
                    width: 10rem;
                    height: 10rem;
                    color: $ico-dark;
                    font-size: 4rem;
                    border: .2rem solid $blue;
                    border-radius: 5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    &::before {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                p {
                    margin: 0;
                }
            }
        }
        &_img {
            margin-top: 2rem;
            img {
                max-width: 49rem;
            }
        }
    }
    &_advantages {
        background-image: url('/src/images/bg/advantages.jpg');
        background-size: cover;
        padding: 15rem 0;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin-top: -10rem;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
        p {
            margin-bottom: 7rem;
            line-height: 2.5rem;
        }
        &_top {
            display: block;
        }
        &_content {
            display: flex;
            align-items: center;
            justify-content: center;
            &_left {
                text-align: right;
                padding: 0 1.5rem;
            }
            &_center {
                text-align: center;
                padding: 0 5rem;
                &_image {
                    margin-bottom: 7rem;
                    min-width: 28.3rem;
                    max-width: 28.3rem;
                }
            }
            &_right {
                text-align: left;
                padding: 0 1.5rem;
            }
        }
    }
    &_screenshots {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        h1 {
            margin-bottom: 7rem;
        }
        .slider {
            width: 100%;
            max-width: 117rem;
            margin: 0 auto;
            padding: 0 8.5rem;
            margin-bottom: 5rem;
            img {
                margin: 0 2.5rem;
            }
        }
    }
    &_showcase {
        background-image: url('/src/images/bg/showcase.jpg');
        background-size: cover;
        padding: 10rem 0;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin-top: -10rem;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
        h1 {
            margin-top: 8rem !important;
            margin-bottom: 8rem !important;
        }
        &_video {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10rem;
            .content {
                position: relative;
                font-size: 0;
                img {
                    max-width: 77rem;
                }
                i {
                    font-size: 5.8rem;
                    position: absolute;
                    cursor: pointer;
                    top:50%;
                    left:50%;
                    transform:translate(-50%, -50%);
                    opacity: .8;
                    transition: all .2s ease;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &_updates {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        h1 {
            margin-bottom: 8rem;
        }
        &_content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-flow: wrap;
        }
        &_down {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 7.5rem;
            &_image {
                width: 100%;
                max-width: 80rem;
            }
        }
        &_downloads {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-flow: wrap;
            margin-bottom: 5rem;
            &_circle {
                width: 16.6rem;
                height: 16.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                padding: 2.5rem;
                margin: 2.5rem 1.5rem;
                border-radius: 50%;
                transition: all .2s ease;
                &.green {
                    background-color: $green-light;
                    &:hover {
                        box-shadow: 0 0 20px $green-light-hover;
                    }
                }
                &.blue {
                    background-color: $blue-light;
                    &:hover {
                        box-shadow: 0 0 20px $blue-light-hover;
                    }
                }
                &.orange {
                    background-color: $orange-light;
                    &:hover {
                        box-shadow: 0 0 20px $orange-light-hover;
                    }
                }
                .icon {
                    font-size: 3.8rem;
                    color: $white;
                    margin-bottom: 1rem;
                }
                p {
                    color: $white !important;
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                    text-transform: none !important;
                }
            }
        }
        &_subscribe {
            width: 100%;
            max-width: 50rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-flow: column;
            i {
                color: $dark !important;
                font-weight: 700;
                letter-spacing: .05rem;
                margin-bottom: 3.5rem;
            }
            &_input {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: stretch;
                input {
                    width: 100%;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: .1rem solid $gray;
                    outline: none;
                    padding: 1rem 0;
                    margin-right: 4rem;
                    transition: all .2s ease;
                    &::placeholder {
                        color: $gray-dark;
                    }
                    &:hover {
                        border-color: $dark;
                    }
                }
                .btn {
                    cursor: pointer;
                    color: $dark-light;
                    border: .2rem solid $dark-light;
                    background-color: $white;
                    font-weight: 700;
                    font-size: 1.5rem;
                    padding: .75rem 1.5rem;
                    text-transform: uppercase;
                    transition: all .2s ease;
                    &:hover {
                        background-color: $dark-light;
                        color: $white;
                    }
                }
            }
        }
    }
    &_support {
        background-image: url('/src/images/bg/support.jpg');
        background-size: cover;
        padding: 10rem 0;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin-top: -10rem;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
        h1 {
            width: 100%;
            margin-bottom: 7rem !important;
        }
        h2 {
            font-size: 3rem !important;
            text-transform: none !important;
            margin-bottom: 5rem !important;
            font-weight: 700 !important;
        }
        &_content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-flow: wrap;
            margin-bottom: 10rem;
        }
        &_form {
            width: 100%;
            max-width: 37rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-flow: column;
            input, textarea {
                width: 100%;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: .1rem solid $white;
                color: $white;
                font-size: 1.8rem;
                background-color: transparent;
                outline: none;
                margin-top: 1rem;
                padding: 1.5rem 0.5rem;
                transition: all .2s ease;
                &::placeholder {
                    color: $gray-light;
                }
                &:hover {
                    border-color: $gray-light;
                }
            }
            .btn {
                cursor: pointer;
                color: $white;
                border: .2rem solid $white;
                background-color: transparent;
                font-weight: 700;
                font-size: 1.5rem;
                margin-top: 2.5rem;
                padding: .75rem 1.5rem;
                text-transform: uppercase;
                transition: all .2s ease;
                &:hover {
                    background-color: $white;
                    color: $blue;
                }
            }
        }
        &_contacts {
            width: 100%;
            max-width: 23rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
        }
        &_contact {
            width: 100%;
            max-width: 23rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            &.phone, &.email, &.loc {
                margin-bottom: 7rem;
                .icon {
                    font-size: 3rem;
                    color: $white;
                    margin-bottom: 2.5rem;
                    &.icon-mobile {
                        font-size: 3.5rem;
                    }
                    &.icon-mail-alt {
                        font-size: 2.5rem;
                    }
                }
                p {
                    line-height: 1.75;
                }
            }
        }
        &_chat {
            width: 100%;
            max-width: 23rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            img {
                max-width: 17rem;
                margin-bottom: 3rem;
            }
            p {
                font-weight: 400 !important;
                margin-bottom: 1.5rem;
                &.on {
                    background-color: #05d10f;
                    font-size: 1.2rem !important;
                    font-weight: 700 !important;
                    text-transform: uppercase;
                    padding: .5rem 2rem;
                    border-radius: 5rem;
                    margin-bottom: 3.5rem;
                }
            }
            .btn {
                cursor: pointer;
                color: $white;
                border: .2rem solid $white;
                background-color: transparent;
                font-weight: 700;
                font-size: 1.5rem;
                margin-top: 2.5rem;
                padding: 1rem 2.5rem;
                text-transform: uppercase;
                transition: all .2s ease;
                &:hover {
                    background-color: $white;
                    color: $blue;
                }
            }
        }
    }
    &.blue {
        h1 {
            color: $white;
            font-size: 4.7rem;
            font-weight: 300;
            margin-bottom: 4.5rem;
        }
        h2 {
            color: $white;
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 2.5rem;
            text-transform: uppercase;
        }
        p {
            color: $white;
            font-size: 1.8rem;
            letter-spacing: .1rem;
        }
    }
    &.white {
        background-color: $white;
        padding: 5rem 0;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10rem;
        h1 {
            color: $dark;
            font-size: 4.7rem;
            font-weight: 300;
        }
        p {
            color: $dark;
            font-size: 1.8rem;
            font-weight: 400;
            margin-top: 2rem;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 1200px) {
    .block {
        .container {
            max-width: 115rem;
        }
        &_updates {
            &_content {
                margin-bottom: 7.5rem;
                justify-content: center;
            }
        }
        &_screenshots {
            max-width: 50rem;
        }
    }
}
@media (max-width: 992px) {
    .block {
        .container {
            max-width: 100rem;
        }
        &_download {
            margin-top: -15rem;
            &_content {
                margin-bottom: 0;
            }
        }
        &_download, &_showcase {
            clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
            padding: 5rem 0;
        }
        &_advantages, &_support {
            clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);
            padding: 5rem 0;
        }
        &_advantages {
            &_top {
                margin-top: 5rem;
            }
            &_content {
                flex-flow: row wrap;
                &_left, &_right {
                    text-align: center;
                }
            }
        }
        &_support {
            &_form {
                max-width: none;
                display: flex;
                align-items: center;
                justify-content: center;  
                input, textarea {
                    max-width: 37rem;
                }
            }
            &_contacts {
                max-width: none;
                margin-top: 5rem;
            }
            &_chat {
                max-width: none;
            }
        }
    }
}
@media (max-width: 420px) {
    .block {
        &.white {
            padding: 2rem 0;
        }
        .container {
            max-width: 40rem;
        }
        &_download {
            &_content {
                &_button {
                    margin: 0;
                }
            }
        }
        &_support {
            .container {
                flex-flow: column;
                &_content {
                    flex-flow: column;
                }
            }
        }
    }
}