$white: #ffffff;
$black: #000000;
$dark: #343434;
$blue: #007ecf;
$gray: #a0a0a0;

$gray-dark: #8b8b8b;
$gray-light: #e3eef8;
$dark-light: #5d5d5d;

$ico-dark: #444444;
$burger-color: #faf6f2;

$blue-light: #009ddc;
$blue-light-hover: #009ddc5c;
$green-light: #a5c63b;
$green-light-hover: #a5c63b5c;
$orange-light: #f8682c;
$orange-light-hover: #f8682c5c;