@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following

$slick-font-path: "./fonts/" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: #444444 !default;
$slick-prev-character: '\e801' !default;
$slick-next-character: '\e802' !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 8.2rem;
    width: 8.2rem;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: 0;
    [dir="rtl"] & {
        left: auto;
        right: 0;
    }
    &:before {
        font-family: 'Icons';
        content: $slick-prev-character;
        color: $slick-arrow-color;
        display: block;
        font-size: 2.8rem;
        padding: 2.5rem;
        border: .2rem solid $blue;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s ease;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: 0;
    [dir="rtl"] & {
        left: 0;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        font-family: 'Icons';
        color: $slick-arrow-color;
        display: block;
        font-size: 2.8rem;
        padding: 2.5rem;
        border: .2rem solid $blue;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s ease;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

@media (max-width: 480px) {
    .slider {
        padding: 0 !important;
        margin-bottom: 12rem !important;
        .slick-prev, .slick-next {
            top: auto;
            bottom: -5%;
            transform: translate(0, 100%);
        }
    }
}