.block.blue
    .block_download
        .container
            .block_download_text
                h1(class="wow bounceInDown" data-wow-duration="1s") Get it for Free
                p(class="wow bounceInDown" data-wow-duration="1s" data-wow-delay=".2s") Choose your native platform and download the app FREE!
            .block_download_content
                +btn('Google Play', 'bounceInUp')(class='icon-android')
                +btn('IOS App Store', 'bounceInDown')(class='icon-apple')
