.block.blue 
    .block_showcase
        .container 
            h1(class="wow bounceInDown" data-wow-duration="1s") App Video Showcase
            .block_showcase_video(class="wow bounceInUp" data-wow-duration="1s" data-wow-delay=".2s")
                .content
                    img(src="/src/images/video.jpg", alt="video")
                    i.icon.icon-play