.block.blue
    .block_advantages
        .container
            .block_advantages_top
                h1(class="wow bounceInDown" data-wow-duration="1s") Why Choose AppBies
                p(class="wow bounceInDown" data-wow-duration="1s" data-wow-delay=".2s") Choose your native platform and download the app FREE!
            .block_advantages_content
                .block_advantages_content_left
                    +text('Clean code and responsive', 'Proin scelerisque fringilla magna bibendum dui tempor velnteger accumsan fermentum leousce viverraelnteger.', 'bounceInDown', 0)
                    +text('CSS3 animations', 'Proin scelerisque fringilla magna bibendum dui tempor velnteger accumsan fermentum leousce viverraelnteger.', 'bounceInDown', '.2s')
                    +text('Gorgeous design', 'Proin scelerisque fringilla magna bibendum dui tempor velnteger accumsan fermentum leousce viverraelnteger.', 'bounceInDown', '.4s')
                .block_advantages_content_center(class="wow bounceInUp" data-wow-duration="1s")
                    img(src="/src/images/phone_solo.png", class="block_advantages_content_center_image" alt="phone_solo")
                .block_advantages_content_right
                    +text('Easy to customize', 'Proin scelerisque fringilla magna bibendum dui tempor velnteger accumsan fermentum leousce viverraelnteger.', 'bounceInDown', 0)
                    +text('Express layout', 'Proin scelerisque fringilla magna bibendum dui tempor velnteger accumsan fermentum leousce viverraelnteger.', 'bounceInDown', '.2s')
                    +text('Easy to customize', 'Proin scelerisque fringilla magna bibendum dui tempor velnteger accumsan fermentum leousce viverraelnteger.', 'bounceInDown', '.4s')