- let pageTitle = 'Site';
- let value = 0;

- let url = '#';

- let nav_links = [{name: 'Features', url: '#'}, {name: 'Screenshot', url: '#'}, {name: 'About', url: '#'}, {name: 'Team', url: '#'}, {name: 'Pricing', url: '#'}, {name: 'Contact', url: '#'}]
- let features = [{ico: 'icon-cog-alt', title: 'Easy to customize'},{ico: 'icon-object-group', title: 'Responsive design'},{ico: 'icon-hourglass-2', title: 'Perfect showcase'},{ico: 'icon-rocket', title: 'App store support'}];
- let slides = ['phone_solo', 'phone_solo', 'phone_solo', 'phone_solo', 'phone_solo'];
- let downloads = [{type: 'icon-android', quantity: 2118, color: 'green'}, {type: 'icon-apple', quantity: 2118, color: 'blue'}, {type: 'icon-windows', quantity: 2118, color: 'orange'}];
- let sup_blocks = [{ico: 'icon-mobile', class: 'phone', text: '+444 1234 567890'}, {ico: 'icon-mail-alt', class: 'email', text: 'info@appbies.com support@appbies.com'}, {ico: 'icon-location', class: 'loc', text: '293 S Alameda st Main Road, London'}]
- let footer_links = [{ico: 'icon-facebook', url: '#'}, {ico: 'icon-twitter', url: '#'}, {ico: 'icon-linkedin', url: '#'}, {ico: 'icon-youtube', url: '#'}, {ico: 'icon-skype', url: '#'},]