
.icon-cog-alt:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-object-group:before { content: '\f247'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
